- if @compra_detalles.size == 0
  | DevolucionComprasUI.noHayBoletas("#{@proveedor.nombre}");
- else
  | $('#compra-detalles-body').html("#{escape_javascript(render 'compra_detalle', devolucion_compra:@devolucion_compra, compras: @compra_detalles, actualizando: false)}");