| $("#pagos-table").html("#{escape_javascript(render partial: 'list', format: 'html', locals: {pagos: @pagos})}");
| $('#pagos-paginate-container').html("#{escape_javascript(paginate(@pagos, remote: true)) }");
| $('.buscador-resultados > .overlay').remove();
