| $("#movimiento-mercaderias-table").html("#{escape_javascript(render partial: 'list', format: 'html', locals: {movimientos: @movimientos})}");
| $('#movimiento-mercaderias-paginate-container').html("#{escape_javascript(paginate(@movimientos, remote: true)) }");
| $('.buscador-resultados > .overlay').remove();
