| $("#historico-mercaderia-table").html("#{escape_javascript(render partial: 'mercaderias/historico/movimientos', format: 'html', locals: {movimientos: @movimientos})}");
| $('.imprimir-listado').removeClass('disabled');
