.select2-results{
  span{
    &.parent-categoria{
      font-weight: 500;
    }
    &.subcategoria{
      margin-left: 20px;
    }
  }
  .select2-results__option{
    border-bottom: 1px solid #ddd;
  }
}