// Color para el abbr de campos obligatorios
.control-label{
  abbr{
    color: $alert-danger-text;
  }
}

// Ajuste para radio y checkboxes
.radio-inline{
  &.radio{
    margin-top: 0;
    padding-left: 0;
  }
}

.radio_group_buttons{
  &.control-label{
    display: block;
  }
}

// select2 con input-group
.select2-input-group{
  .input-group{
    width: 90%;
    display: inline-block;
    margin-bottom: 0px;
    .input-group-btn{
      display: block;
    }
  }
}

// Ajuste para campos dentro de celdas
td{
  > .form_group{
    margin-bottom: 0;
  }
}

// Sobreescribir estilos de select2
.select2-container{
  .select2-choice{
    border-radius: 0;
    box-shadow: none;
  }
}

.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices{
  border-color: $select2_border_color;
  box-shadow: none;
}

.select2-drop{
  box-shadow: none;
  border-radius: 0;
  .select2-search{
    input{
      border-radius: 0;
      box-shadow: none;
      background: transparent;
    }
  }
}

// Para cuando las opciones de select2 queda hacia arriba
.select2-drop.select2-drop-above {
  box-shadow: none;
  border-radius: 0;
  &.select2-drop-active {
    border-color: $select2_border_color;
  }
}
.select2-dropdown-open.select2-drop-above [class^="select2-choice"]{
  border-radius: 0 !important;
}
.select2-dropdown-open.select2-drop-above .select2-choice{
  border-color: $select2_border_color;
}

.select2-drop-active{
  border-color: $select2_border_color;
}
