.main-header{
  .logo{
    height: 60px;
    line-height: 60px;
  }
  .navbar{
    min-height: 60px;
    .nav{
      &> li{
        &> a{
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
  .sidebar-toggle{
    padding: 20px 15px;
  }
}

.main-sidebar{
  padding-top: 60px;
}

.sidebar-menu{
  &> li {
    &> a{
      padding-right: 30px;
      white-space: pre-wrap;
    }
  }
  &> li:hover, &> li.active{
    &> a{
      background: #E8E8E8 !important;
    }
  }
  &> li.active{
    border-left-style: solid;
    border-left-width: 3px;
  }
}

@media (min-width: $screen-sm) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}