// Bootstrap
@import "libs/bootstrap/bootstrap-sprockets";
@import "libs/bootstrap/bootstrap";

// Variables
@import "variables";

// Librerias
@import "libs/fontawesome/font-awesome";
@import "libs/select2";
@import "libs/bootstrap-datepicker3";
@import "libs/daterangepicker";
@import "libs/morris";

// AdminLTE
@import "adminlte/AdminLTE";
@import "adminlte/skin-blue-light";

@import "components/*";
@import "modules/*";


// Estilos generales para mostrar cabeceras/detalles
.cabecera-info{
  dd{
    margin-bottom: 5px;
  }
}

.volver-link{
  display: block;
  i{
    margin-right: 5px;
  }
}

.form-subtitle{
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  text-transform: uppercase;
  color: #555;
}

.popover-content{
  word-break: break-word;
}

.alert{
  .form-actions{
    margin-top: 15px;
  }
  .btn-default{
    color: #444;
    text-decoration: none;
  }
}

.seleccionar-panel{
  cursor: pointer;
  color: #666;
  .fa-search, .fa-list{
    font-size: 32px;
  }
}