@media print {
  body.vista-imprimir{
    table.table{
      td, th{
        padding: 4px;
        font-size: 11px;
      }
    }
  }
  a[href]:after {
    content: none !important;
  }
  .label {
    border: 0px solid #000;
  }
}
