| $("#devoluciones-table").html("#{escape_javascript(render partial: 'list', format: 'html', locals: {mercaderias_devoluciones_boletas: @mercaderias_devoluciones_boletas})}");
| $('#devoluciones-paginate-container').html("#{escape_javascript(paginate(@mercaderias_devoluciones_boletas, remote: true)) }");
| $('.buscador-resultados > .overlay').remove();
